{% extends 'base.html' %}

{% block content %}

<style>
   .form-signin {
      max-width: 330px;
      padding: 1rem;
      margin: auto; /* Center the form horizontally */
   }

   .form-signin .form-control {
      margin-bottom: 0.5rem; /* Reduced space between inputs */
      border-radius: 0.25rem; /* Adjust border radius */
      box-sizing: border-box; /* Include padding and border in element's total width and height */
   }

   .form-signin input[type="password"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
   }

   .form-signin .h3 {
      text-align: center; /* Center the header text */
      font-weight: 400; /* Slightly less bold text */
      margin-bottom: 1rem; /* Space below the header */
   }

   .form-signin .error-message {
      color: red;
      list-style-type: none; /* Remove bullet points */
      padding-left: 0; /* Remove padding */
      margin-bottom: 1rem; /* Space below the error messages */
   }

   .form-signin .btn {
      font-size: 1rem; /* Adjust font size */
      padding: 0.75rem; /* Adjust padding for button */
      width: 100%; /* Make button full width */
      margin-top: 0; /* Remove space above the button */
   }

   .form-floating {
      margin-bottom: 0.5rem; /* Reduced space between floating labels */
   }

   .header-icon-form {
      width: 72px; /* Adjust size as needed */
      height: 72px; /* Adjust size as needed */
      display: block;
      margin: 0 auto 1rem; /* Center the icon and add margin below */
   }

   .no-underline {
      text-decoration: none;
   }
</style>

<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
         <form method="POST" class="form-signin">
            {% csrf_token %}
            <img src="https://www.svgrepo.com/show/474421/carp.svg" class="header-icon-form" alt="Temp Icon">
            <h1 class="h3">Change password</h1>

            <div class="form-floating mb-3">
               <input name="old_password" type="password" class="form-control" id="floatingOldPassword" placeholder="Old password" required>
               <label for="floatingOldPassword">Old password</label>
            </div>
            <div class="form-floating mb-3">
               <input name="new_password1" type="password" class="form-control" id="floatingNewPassword1" placeholder="New password" required>
               <label for="floatingNewPassword1">New password</label>
            </div>
            <div class="form-floating mb-3">
               <input name="new_password2" type="password" class="form-control" id="floatingNewPassword2" placeholder="Confirm password" required>
               <label for="floatingNewPassword2">Confirm password</label>
            </div>

            {% for field in form %}
               {% for error in field.errors %}
                  <p class="error-message">{{ error }}</p>
               {% endfor %}
            {% endfor %}

            <button class="btn btn-primary" type="submit">Update</button>
         </form>
         <div class="d-flex flex-column">
            <a class="m-auto no-underline" href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
      </div>
   </div>
</div>

{% endblock %}
