{% extends 'base.html' %}

{% block content %}

<style>
   .form-signin {
      max-width: 330px;
      padding: 1rem;
      margin: auto; /* Center the form horizontally */
   }

   .form-signin .form-control {
      margin-bottom: 0.5rem; /* Reduced space between inputs and button */
      border-radius: 0.25rem; /* Adjust border radius */
      box-sizing: border-box; /* Include padding and border in element's total width and height */
   }

   .form-signin input[type="email"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
   }

   .form-signin .h3 {
      text-align: center; /* Center the header text */
      font-weight: 400; /* Slightly less bold text */
      margin-bottom: 1rem; /* Space below the header */
   }

   .form-signin .btn {
      font-size: 1rem; /* Adjust font size */
      padding: 0.75rem; /* Adjust padding for button */
      width: 100%; /* Make button full width */
      margin-top: 0; /* Remove space above the button */
   }

   .header-icon-form {
      width: 72px; /* Adjust size as needed */
      height: 72px; /* Adjust size as needed */
      display: block;
      margin: 0 auto 1rem; /* Center the icon and add margin below */
   }
</style>

<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
         <form method="POST" class="form-signin">
            {% csrf_token %}
            <!-- Add image here -->
            <img src="https://www.svgrepo.com/show/474421/carp.svg" class="header-icon-form" alt="Reset Icon">
            <h1 class="h3">Reset password</h1>

            <div class="form-floating mb-3">
               <input name="email" type="email" class="form-control" id="floatingEmail" placeholder="Email address" required>
               <label for="floatingEmail">Email address</label>
            </div>

            <button class="btn btn-primary" type="submit">Send reset email</button>
         </form>
      </div>
   </div>
</div>

{% endblock %}
